:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --site-devs-text-color: rgba(255, 255, 255, 0.4);
  --secondary-bg-color: #f5f4fa;
  --work-title-bg: rgba(47, 48, 58, 0.8);
  --footer-bg-color: #2f303a;
  --clients-logos-bg: #afb1b8;
  --ftr-social-logos-bg: rgba(255, 255, 255, 0.1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* main */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-weight: 400;
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* header */
.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0;
}

.link {
  display: block;
  color: var(--primary-text-color);
}

.nav-link {
  display: block;
  padding-top: 32px;
}

.nav-info {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}

svg.main-link {
  width: 16px;
  height: 12px;
}

.item-link {
  margin-right: 10px;
}

/* logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo.logo-second {
  color: var(--primary-white-color);
}

.logo .logo-style {
  color: #2196f3;
}

.logo-style2 {
  color: black;
}

.logo-footer {
  color: white;
}

/* шапка */

.menu-nav {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-contacts {
  display: flex;
  margin-left: auto;
  padding: 0;
  align-items: center;
}

.menu-contacts .link {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}
/* button */
.header-main {
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 646px;
}

.button {
  display: inline-block;
  color: white;
  background-color: #2196f3;
  font-size: 16px;
  display: inline-block;
  border: 4px;
  border-color: transparent;
}

.button-primary {
  border: none;
  font-size: 16px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  margin: 0 auto;
  display: block;
  font-weight: 700;
  padding: 10px 32px;
  cursor: pointer;
  line-height: 1.87;
}

.button.second {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* modal-window */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid currentColor;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
.form-lebel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 42px;
  transition: 250ms;
}
.form-input:hover {
  border-color: var(--accent-color);
}
.input-text:hover .input-icon {
  fill: var(--accent-color);
}

.input-text {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 14px;
  top: 13px;
  transition: 250ms var(--transition-timing-function);
}
.form-agree {
  padding-top: 20px;
  padding-bottom: 30px;
}
.form-coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.form-coment:hover {
  border-color: var(--accent-color);
}

.modal-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  fill: #ffffff;
  position: absolute;
  z-index: 1;
}
.checkbox-input {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  appearance: none;
  position: relative;
}
.modal-checkbox a {
  color: var(--accent-color);
  padding-left: 5px;
}
.checkbox-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: #188ce8;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  cursor: pointer;
}

/* features */
.features {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.uptitle.title-features {
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.uptitle {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-background {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.features-background {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.features-logotype {
  display: flex;
  width: 65px;
  height: 70px;
}

/* Work */

.uptitle.work-title {
  color: var(--primary-white-color);
  background: var(--work-title-bg);
}
.work {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-item {
  margin-right: 30px;
  position: relative;
}

.work-item:last-child {
  margin-right: 0;
}

.work-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* section-title */

.section-title {
  margin: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-text-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* team */

.team {
  font-size: 16px;
  line-height: 1.19;
  width: 1200px;
  height: 600px;
  left: 0px;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 280px;
}

.team .team-members-name {
  font-size: inherit;
  font-weight: 500;
  color: var(--primary-text-color);
}

.team-members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team .team-members-position {
  color: var(--secondary-text-color);
}
.team-member-section {
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}

.team-list .team-item {
  margin-right: 30px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-name {
  padding: 30px;
  text-align: center;
}

.team-members-position {
  font-size: 16px;
  line-height: 1.187;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.social-link {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 206px;
  height: 44px;
}

.social-link > li {
  margin-right: 10px;
}

.linked {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
/*team text */

.team-text {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-text-color);
}
/*clients */
.partners {
  display: flex;
  justify-content: space-between;
}

.partners-image {
  display: flex;
}

.partners-link {
  display: flex;
  width: 170px;
  height: 90px;
  fill: var(--clients-logos-bg);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.partners-link:hover,
.partners-link:focus {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.partners-logotype:hover {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* Адрес */

.address .link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.address .link.address-item {
  color: white;
}

.button.second:hover,
.button.second:focus {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  color: #ffffff;
}

/* footer */

.footer-page {
  display: flex;
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-page .logo {
  display: block;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer-nav__link {
  display: block;
  align-items: center;
  margin-bottom: 9px;
}
.footer-nav__link:last-child {
  margin-bottom: 0;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  color: var(--accent-color);
}
.footer-nav__link:last-child {
  margin-bottom: 0;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  color: var(--accent-color);
}
.footer-nav__link {
  display: block;
  align-items: center;
  margin-bottom: 9px;
}
.footer-nav__link {
  display: block;
  align-items: center;
  margin-bottom: 9px;
}
.footer-nav__link {
  display: block;
  align-items: center;
  margin-bottom: 9px;
}
.footer-link {
  justify-content: space-between;
}
.footer-link .linked {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.footer-nav__link {
  display: block;
  align-items: center;
  margin-bottom: 9px;
}
.footer-container {
  display: flex;
}

.footer-container p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-link {
  justify-content: space-between;
}
.footer-link .linked {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-link {
  justify-content: space-between;
}
.footer-link .linked {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-link .link-icon {
  fill: var(--primary-white-color);
}
/* portfolio */

.menu .link {
  color: var(--accent-color);
}

.button .second {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-main {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
}

.portfolio-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* конец портфолио */

.button.second:hover,
.button.second:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.nav-link {
  position: relative;
  line-height: 1.14;
}

.nav-link::after {
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;

  opacity: 0;
  transition: opacity 250ms var(--transition-timing-function);
}

.nav-link:hover::after {
  opacity: 1;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.menu-nav__link a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-nav__link {
  margin-right: 50px;
}

.menu-nav__link:last-child {
  margin-right: 0;
}

.hero-header {
  background: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-fon.jpg);
}

.contacts-nav__item {
  align-items: center;

  margin-right: 30px;
}
.contacts-nav__item:last-child {
  margin-right: 0;
}
.contacts-nav__link {
  display: flex;
  align-items: center;
}

.contacts-nav__link:hover .item-link {
  fill: var(--accent-color);
}

/* рассылка */
.mail-form {
  margin-left: 93px;

}
.footer-sub {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.mail-input {
  width: 358px;
  min-height: 50px;
  background: transparent;
  border: 1px solid #ffffff4d;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.mail-button {
  width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border: var(--accent-color);
  border-radius: 4px;
}
.mail-send {
  vertical-align: middle;
  margin-left: 10px;
}

/* portfolio */

.filter {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.filter {
  margin-bottom: 56px;
}

.filter_item:not(:last-child) {
  margin-right: 8px;
}

.second {
  display: inline-block;
  padding: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -30px;
  margin-bottom: -30px;
  overflow: hidden;
}

.product-item {
  width: 370px;
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-item:hover .text-card {
  transform: translateY(0);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.product__content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
.social-link .link-logotype {
  display: inline-block;
  fill: var(--clients-logos-bg);
}

.link-logotype {
  margin-left: auto;
  margin-right: auto;
}

.join {
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.social-link .linked:hover,
.social-link .linked:focus {
  background-color: var(--accent-color);
}

.link-icon:hover,
.link-icon:focus {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.link-icon {
  margin-left: auto;
  margin-right: auto;
}

.social-link .linked:hover > .link-logotype,
.social-link .linked:focus > .link-logotype {
  fill: var(--primary-white-color);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay .text-card {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
  margin: 0;
  padding: 63px 24px;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--transition-timing-function);
}
